<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            $.get("/LandingPage/Logout", function (data) {
                profile;
            })
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "LandingPage", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About", "AboutUs", "LandingPage", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Product", "Display", "Missions", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="/LandingPage/Logout" onclick="signOut();">Sign out</a>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy;
                Company Info:
                <br />
                Phone Number: 555-555-5555 &emsp; Email: Some@email.com
            </p>
            <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            @*@Html.Action("Index", "LandingPage");*@

            $.get("/LandingPage/Index", function (data) {
                profile;
            })
            }
        
            </script>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>